{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="row my-4 d-flex align-middle justify-content-center">
			<div class="col-12">
				{% if article is defined %}
					<h3 class="text-center">Modification d'un film</h3>
				{% else %}
					<h3 class="text-center">Création d'un film</h3>
				{% endif %}

			</div>
		</div>
		<div class="row my-4 d-flex align-middle justify-content-center">
			<div class="col-8 mx-auto">
				{{ form_start(form, { 'attr': { novalidate: 'novalidate' }, 'method': 'POST' } ) }}

				{{ form_row(form.titre) }}
				{{ form_row(form.resume) }}
				{{ form_row(form.duree) }}
				{{ form_row(form.annee_sortie) }}
				{{ form_row(form.prix) }}
                {{ form_row(form.realisateurId) }}
				{% if article is defined %}
					{{ form_row(form.submit, { 'label': 'Modifier le film' }) }}
				{% else %}
					{{ form_row(form.submit, { 'label': 'Créer le film' }) }}
				{% endif %}
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
